img.logo-image{
    height: 37px;
    width: auto;
}

.logo-padding{
    padding: 0px !important;
    margin-right: 5px;
}

header .anonabox-header-fill{
    background-color: #1D2127 !important;
    webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    padding: 0 5px;
}

.dropdown-menu{
    background-color: #1D2127 !important;
}
